* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }  

body {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 18px;
    color: #ffffff;
    background-color: #021024;
  }
  

h2 {
    font-weight: bold;
    color: rgb(37, 17, 17);
}

p {
    color: rgb(143, 121, 63);
}
form {
    background-color: #4f4e61;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    
}


form .btn-primary {
    background-color: #cda45e;
    border-color: #cda45e;
}
.container-fluid  {
    background-color: #3c5343;
}
blockquote {
    background: #9be98f;
    border-left: 10px solid #58452c;
    padding: 10px 20px;
    margin: 0;
    transition: 0.5s;
}

form input[type="date"] {
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

form select {
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

form textarea {
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}
