* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 18px;
  color: #ffffff;
  background-color: #021024;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #221620;
  color: #fff;
}

.logo img {
  height: 40px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 5px 10px;
  font-weight: bold;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  transition: background 0.3s;
}

.nav-links a:hover {
  background-color: #8f4848;
  border-radius: 5px;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  font-size: 24px;
  color: white;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 80%;
  max-height: 80%;
}

.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #433d3d;
    position: absolute;
    top: 50px;
    left: 0;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  .logo img {
    height: 35px;
  }
}

/* Home Part*/
.home {
  height: 100vh;
  background-image: url("./images/homepage.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  position: relative;
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(32, 31, 31, 0.6);
  z-index: 1;
}

.home .content {
  position: relative;
  z-index: 2;
  color: #fff;
}

.home .content h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.home .content h1 span {
  color: #f77e42;
}

.home .content p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.btn {
  padding: 15px 30px;
  background-color: #f77e42;
  color: white;
  text-decoration: none;
  font-size: 1.1em;
  border-radius: 30px;
  transition: background 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: #e66821;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  z-index: 10;
}

.modal-content {
  width: 400px;
  height: 100%;
  background-color: #7f6269;
  padding: 20px;
  animation: slideIn 0.5s forwards;
  overflow-y: auto;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
}

.form-container {
  display: none;
}

.form-container.active {
  display: block;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

form label {
  margin: 10px 0 5px;
  font-size: 14px;
  color: #d4c8c8;
}

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

form input:focus {
  outline: none;
  border-color: #4c3930;
}

.btn-form {
  width: 100%;
  padding: 12px;
  background-color: #bd8e89;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-form:hover {
  background-color: #a46c4b;
}

p {
  margin-top: 20px;
  font-size: 0.9em;
}

p a {
  color: #f77e42;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .modal-content {
    width: 100%;
    padding: 15px;
  }

  .home .content h1 {
    font-size: 2em;
  }

  .home .content p {
    font-size: 1em;
  }

  form input {
    font-size: 14px;
  }

  .btn {
    font-size: 1em;
    padding: 12px 25px;
  }
}

/* Top Searched DEstination Page*/
h2 {
  color: #fff0bf;
  font-weight: bold;
}

p.lead {
  color: #ccd4dd;
  text-align: center;
  justify-content: space-between;
  padding: 10px;
}

.card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  background-color: #dfb6b2;
}

.card-img-left {
  width: 80px;
  height: 80px;
  margin-bottom: 15px;
  border-radius: 50%;
}

.card-body {
  padding: 0;
  text-align: center;
}

.card-title {
  font-weight: bold;
  font-size: 1.1rem;
  color: #221620;
}

.card-text {
  color: #180018;
  margin-bottom: 0;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .card {
    flex-direction: row;
  }

  .card-img-left {
    margin-right: 15px;
    margin-bottom: 0;
  }

  .card-body {
    text-align: left;
  }
}

@media (min-width: 992px) {
  .col-lg-4 {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}

/* About Us Part */
.about-us h2 {
  font-size: 2.5rem;
  color: #fff0bf;
  margin-bottom: 1rem;
}

.about-us h3 {
  font-size: 1.8rem;
  color: #f77e42;
}

.about-us p {
  font-size: 1rem;
  color: #ccd4dd;
  text-align: justify;
  justify-content: space-between;
}

.about-image img {
  max-width: 100%;
  border-radius: 50%;
  border: 3px solid #558ca9;
  width: 400px;
  height: 410px;
}

.badge {
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 20px;
}

.btn {
  font-size: 14px;
  padding: 6px 12px;
  border-radius: 4px;
  text-align: center;
  transition: all 0.3s ease;
}

.btn:hover {
  opacity: 0.9;
  transform: scale(1.05);
}

.stats {
  background-color: #021024;
  padding-top: 20px;
}

.stat-box h4 {
  font-size: 2rem;
  color: #4c0743;
  font-weight: bold;
  text-align: center;
}

.stat-box p {
  color: #ccd4dd;
  text-align: center;
}

.core-features h3 {
  color: #fff0bf;
  font-weight: bold;
  font-size: 2.5rem;
}

.feature-box {
  background-color: #856966;
  border: 1px solid #633939;
  border-radius: 10px;
  padding: 20px;
  height: 100%;
}

.text-intro {
  font-size: 1.2rem;
  text-align: center;
  padding: 9px;
}

.feature-box h5 {
  font-size: 1.2rem;
  color: #542b16;
  margin-bottom: 1rem;
}

.feature-box p {
  color: #ccd4dd;
}

@media (max-width: 768px) {
  .about-image img {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 576px) {
  .about-image img {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 768px) {
  .btn {
    width: 100%;
    margin-bottom: 10px;
  }
}

/* Services */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 40px;
  color: #bfbfbf;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.service-item {
  background-color: #1a2a38;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.service-item:hover {
  transform: translateY(-10px);
}

.service-item i {
  font-size: 50px;
  margin-bottom: 20px;
  display: block;
  color: #542b16;
}

h3 {
  font-size: 1.5rem;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .services-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  h2 {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 1.8rem;
  }
}


/* Contact us Section */
.main-section {
    text-align: center;
    padding: 50px 0;
}

.main-section h2 {
    font-size: 36px;
    color: #fff0bf;
    margin-bottom: 10px;
}

.main-section p {
    max-width: 600px;
    margin: 0 auto;
    font-size: 18px;
    color: #bfbfbf;
}

.main-section i {
    font-size: 50px;
    margin-bottom: 20px;
    display: block;
    color: #4a4603;
  }

.contact-info {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 40px;
    flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

.contact-info div {
    text-align: center;
    max-width: 150px;
}

.contact-info div h3 {
    font-size: 16px;
    margin-bottom: 5px;
    color: #968b15;
}

.contact-info div p {
    font-size: 14px;
    color: #d7d7d7;
}

.contact-form {
    background-color: #48576d;
    max-width: 800px;
    margin: 50px auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.contact-form h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #280303;
}

.contact-form form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.contact-form input,
.contact-form textarea {
    width: calc(50% - 10px);
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: inherit;
    color: #4d4d4d;
}

.contact-form textarea {
    width: 100%;
    resize: none;
}

.contact-form button {
    width: 100%;
    padding: 15px;
    background-color: #714004;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #b57131;
}

.promo-section {
    background-color: #021024;
    padding: 50px 0;
    text-align: center;
}

.promo-section h3 {
    font-size: 24px;
    color: #fff0bf;
    margin-bottom: 10px;
}

.promo-section p {
    max-width: 600px;
    margin: 0 auto 20px auto;
    font-size: 16px;
    color: #d7d7d7;
}

.promo-section a {
    padding: 15px 30px;
    background-color: #714004;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.promo-section a:hover {
    background-color: #b57131;
}

/* Gallery Section */
.menu-item {
  text-align: center;
  margin: 15px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  transition: transform 0.2s;
  background-color: #3a4856;
}

.text-center {
  color: #ff6347;
}

.menu-item h5 {
  color: #ccb821;
  font-weight: bold;
  padding: 10px;
}

.menu-item p {
  color: white;
}

.menu-item:hover {
  transform: scale(1.05);
}

.dish-image {
  height: 190px;
  object-fit: cover;
  width: 100%;
}



/* Footer Section */
.footer {
  background-color: #021024;
  text-align: center;
  padding: 10px;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 10px;
  width: 100%;
}

.footer-logo h1 {
  margin: auto;
  font-size: 1.5rem;
  color: #ff7a34;
  font-weight: bold;
}

.footer-logo p {
  margin: 5px 0 0;
  font-size: 0.9rem;
  color: #bfbfbf;
}

.social-media a {
  margin: 0 8px;
  font-size: 1.3rem;
  display: inline-block;
  gap: 10px;
}

.social-media h3 {
  margin: 0;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .social-media {
    margin-top: 10px;
  }
}
